<form> 
    <div class="row">
      <label class="control-label col-sm-3" for="ownName">Owner Name:</label>
      <div class="col-sm-5">
        <input type="text" 
          formControlName = "ownName"
          required [(ngModel)] = "carForm.ownName"
          class="form-control">
      </div>
    </div>
    <div class="row">
        <label class="control-label col-sm-3" for="carName">Car Name:</label>
        <div class="col-sm-5">
          <input type="text" 
          formControlName = "carName"
          required [(ngModel)] = "carForm.carName"
          class="form-control">
        </div>
      </div>
    <div class="row">
        <label class="control-label col-sm-3" for="numPlate">Number plate:</label>
        <div class="col-sm-5">
          <input type="text" 
          formControlName = "numPlate"
          required [(ngModel)] = "carForm.numPlate"
          class="form-control"> 
        </div>
      </div>
      <!-- <button class="btn btn-primary"
          type="button" (click)="updatecardetails()">
          update
        </button> -->
        <button class="btn btn-default"
          type="button"
          (click)="addcardetails()"
          >Add new</button>
      </form>
     <!-- <hr /> -->
     <table class="table table-hover">
      <thead>
      <tr>
          <td>Owner Name</td>
          <td>Car Name</td>
          <td>Number Plate</td>
          <td></td>
      </tr>
      </thead>
      <tbody>
          <tr *ngFor="let car of getcardetails | async">
              <td>{{car.ownName}}</td>
              <td>{{car.carName}}</td>
              <td>{{car.numPlate}}</td>
              <td><button class="btn btn-xs btn-danger pull-right" 
                (click)="delete(idToDelete)">
                  delete
                </button></td>
          </tr>
      </tbody>
      </table>